<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN" "http://www.w3.org/TR/REC-html40/loose.dtd">
<html style="font-family: sans-serif; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; color: #000 !important; text-shadow: none !important; -webkit-box-shadow: none !important; box-shadow: none !important; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; font-size: 10px; -webkit-tap-highlight-color: rgba(0,0,0,0);">
<head>

</head>
<body style="color: #000 !important; text-shadow: none !important; -webkit-box-shadow: none !important; box-shadow: none !important; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif; font-size: 14px; line-height: 1.42857143; background-color: #fff; margin: 0;" bgcolor="#fff">

<div class="container" style="font-family: Arial,Helvetica,sans-serif; font-size: 12px; color: #000 !important; text-shadow: none !important; -webkit-box-shadow: none !important; box-shadow: none !important; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; padding-right: 15px; padding-left: 15px; margin-right: auto; margin-left: auto; width: 1170px;">

    <div class="panel panel-default" style="color: #000 !important; text-shadow: none !important; -webkit-box-shadow: none !important; box-shadow: none !important; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; margin-bottom: 20px; border-radius: 4px; background-color: #fff; border: 1px solid #ddd;">
      <div class="panel-heading" style="color: #000 !important; text-shadow: none !important; -webkit-box-shadow: none !important; box-shadow: none !important; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; border-bottom-width: 1px; border-bottom-style: solid; border-top-left-radius: 3px; border-top-right-radius: 3px; background-color: #f5f5f5; padding: 10px 15px; border-color: #ddd;">
        <h4 class="panel-title" style="color: #000 !important; text-shadow: none !important; -webkit-box-shadow: none !important; box-shadow: none !important; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; font-family: inherit; font-weight: 500; line-height: 1.1; margin-top: 0; margin-bottom: 0; font-size: 16px;">
          <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" style="color: #000 !important; text-shadow: none !important; -webkit-box-shadow: none !important; box-shadow: none !important; text-decoration: none; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; background-color: transparent;">
            MIS CONSUMOS AGOSTO 2015
          </a>
        </h4>
      </div>

      <div id="collapseOne" class="panel-collapse collapse in" style="color: #000 !important; text-shadow: none !important; -webkit-box-shadow: none !important; box-shadow: none !important; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; display: block;">
        <div class="panel-body" style="color: #000 !important; text-shadow: none !important; -webkit-box-shadow: none !important; box-shadow: none !important; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; border-top-color: #ddd; padding: 15px;">
          <style>
            table, th, td {
                border-bottom: 1px solid black;
                border-collapse: collapse;
                font-family: Arial,Helvetica,sans-serif;
                font-size: 12px;
            }
            th, td {
                padding: 5px;
            }
            th {
                text-align: left;
            }
          </style>
          <table style="width:100%;">
            <tr>
              <th>FECHA</th>
              <th>PRESTADOR</th>
              <th>TIPO</th>
              <th>DESCRIPCION</th>
              <th>DETALLE</th>
              <th></th>
            </tr>
            <tr>
              <td>12/08/2015</td>
              <td>LOPEZ DIEGO (60940877401)</td>
              <td>DOMICILIO</td>
              <td></td>
              <td></td>
              <td>
                <form action="<%=locals.gform%>" method="POST">
                  <input type="hidden" name="entry.70882562" value="<%=locals.socio%>">
                  <input type="hidden" name="entry.485680763" value="<%=locals.email%>">
                  <input type="hidden" name="entry.1849237969" value="<%=locals.url%>">
                  <input style="margin-bottom:-8px" type="image" name="submit" src="https://www.flaticon.com/premium-icon/icons/svg/13/13809.svg" alt="Descargo" width="20" height="20">
                </form>
              </td>
            </tr>
          </table>
        </div>
        <span style="padding:5px;">Realizar descargo presionando en la imagen o directamente desde <a href="<%=gformlink%>?entry.1849237969=<%=locals.url%>&entry.70882562=<%=locals.socio%>&entry.485680763=<%=locals.email%>" target="_blank">Google Forms</a>
        </span>
      </div>


    </div>

</div> <!-- end container -->


</body>
</html>
